<!DOCTYPE html>
<html>
<head>
    <title>Create Todo</title>
</head>
<body>
    <h1>Create Todo</h1>
    <form action="/store" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <input type="submit" value="Create Todo">
    </form>
</body>
</html>